<!DOCTYPE html>
<html>
<head>
<title>Andnyang Web Log Viewer</title>
<link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
</head>
<body>
<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Andnyang Log Viewer</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
		    <li class="active"><a href="/log/{{.CurrentChannel}}">#{{.CurrentChannel}}</a></li>
		    {{range .OtherChannels}}
		    <li><a href="/log/{{.}}">#{{.}}</a></li>
	      {{end}}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
<ul class="pager">
	<li><a href="{{.PreviousLink}}">{{.PreviousDate}}</a></li>
	<li><a href="{{.NextLink}}">{{.NextDate}}</a></li>
</ul>
<table class="table table-striped">
{{range .Logs}}
<tr>
	<td><span class="date"><a href="#{{.Id}}">{{printf "%02d" .Hour}}:{{printf "%02d" .Min}}</a></span></td>
<td><strong>{{.Nick}}</strong>:</td>
<td id="{{.Id}}">{{.Message}}</td>
</tr>
{{end}}
</table>
</div>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
